html {
  font-size: 20px;
}

body {
  font-family: Arial;
  
  color: #333;
  text-align: center;
}
h1 {
  font-size: 3rem;
  margin-bottom:0;
}
@media(max-width:460px){
  h1{
    font-size: 4rem;
    line-height:1.2;
  }
}
#underline{
  font-size:1.2rem;
}
a {
  color: #477ca7;
}
a:visited {
  color: #74638f;
}
#main{
  background:#eee;
  margin: 30px 8px;
  padding:15px;
  border-radius:5px; 
}
@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
img {
  display:block;
  max-width:50%;
  margin: 0 auto;
  height: auto;
}
#image-div{
  background:white;
  padding:10px;
  margin:0;
}
#img-caption {
  margin: 15px 0px;
}
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}
#headline {
  text-align:center;
  margin: 50px 0px;
}
ul{
  max-width:550px;
  text-align:left;
  margin: 0 auto 5rem auto;
  line-height:1.6;
}
li{
  margin: 16px 0px;
}
blockquote{
  font-style: italic;
  maxx-width:550px;
  margin:0px auto 5rem auto;
  text-align:center;
}
h3{
  font-size:1.5rem;
}